<section class="booking-container">
  <h2>Book Your Ride</h2>

  <!-- INTERPOLATION -->
  <p>
    Current Ride Type:
    {{ rideType }}
  </p>

  <!-- TWO WAY BINDING -->
  <input
    type="text"
    placeholder="Pickup Location"
    [value]="pickupLocation"
    (input)="pickupLocation = $any($event.target).value"
  />

  <input
    type="text"
    placeholder="Destination"
    [value]="destination"
    (input)="destination = $any($event.target).value"
  />

  <!-- PROPERTY BINDING -->
  <img [src]="isPremiumRide ? '/images/premium-car.png' : '/images/bike.png'" width="120" />

  <!-- EVENT + PROPERTY BINDING -->
  <button [disabled]="!pickupLocation || !destination" (click)="confirmRide()">Confirm Ride</button>

  <br /><br />

  <!-- EVENT BINDING -->
  <button (click)="togglePremiumRide()">Toggle Premium Ride</button>

  <!-- INTERPOLATION -->
  <h3>Estimated Fare: ₹{{ estimatedFare }}</h3>

  <!-- INTERPOLATION -->
  <p>{{ bookingMessage }}</p>
</section>
